/*========================
  hxw configuration 2015 
  all rights researved
  ========================*/
.divcog
{
	background-color: rgba(0,128,64,.3);
	background-size: 16px 16px;
	height: 50px;
	font-size: 15px;
}
.floatbar
{
	float: left;
	height: auto;
	width: auto;
	margin-right: auto;
	margin-left: 5%;
	margin-top: auto;

}
.foot
{
	padding-right: 15px;
  	padding-left: 15px;
  	margin-right: 0px;
 	margin-left: 0px;
 	margin-bottom: 0px;
 	margin-top: auto;
 	background-color: rgba(109,171,216,.6);
}
.words
{
	float: left;
  	font-size: 21px;
  	font-weight: bold;
  	padding-left: 5%;
 	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 rgba(200,191,231,0.8);
	filter: alpha(opacity=20);
	opacity: .8;
	background-color: rgba(200,191,231,0.3);
	margin-right: 10%
}
.container-fluid-cog
{
	padding-right: 15px;
  	padding-left: 15px;
  	margin-right: auto;
  	margin-left: auto;
  	background-color: rgba(109,171,216,.6);
}